@import 'https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css' ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer-container {
  background-color: #41197f;
  bottom: 0;
  display: flex;
  height: 46px;
  justify-content: space-between;
  position: fixed;
  width: 360px;
}
